doctype html
html(lang='en')
  head
    meta(
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
      )
    title= title
  block imports
  body
    block content
    div(id='container')

      //div="Transfer Function "+" 0.0"
      //  img( id="transferFunctionImg" style="align:right")
      //  ="1.0"
    //script
    //  | const _c = document.getElementById('container')[0];
    //  | _c.width = window.innerWidth;
    //  | _c.height = window.innerHeight;


